.modalContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--gray-300);
}

.modalContent {
  background-color: var(--modal-color-background);
  color: var(--modal-color-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  text-align: center;
  min-width: 30rem;
  min-height: 20rem;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 5px var(--modal-box-shadow);
}