.buttonContainer button {
  min-width: auto;
  margin: 0;
  padding: 1rem;
}

.buttonContainer button svg {
  width: 2rem;
  height: 2rem;
}

.responsiveTable {
  overflow-x: auto;
  border-radius: 0.8rem;
}

.responsiveTable table {
  width: 100%;
  min-width: 64rem;
  font-size: 1.6rem;
  border-collapse: collapse;
}

.responsiveTable th {
  background-color: var(--gray-600);
}

.responsiveTable td {
  background-color: var(--gray-800);
}

.responsiveTable th,
.responsiveTable td {
  padding: 1.6rem;
  text-align: left;
  border-bottom: 0.2rem solid var(--gray-700);
}

.thSort {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.thSort:hover {
  filter: brightness(80%);
}

.noTasks {
  text-align: center;
}

.modalText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalText h3 {
  padding: 1rem;
  font-weight: bold;
  font-size: 2.4rem;
}

.modalText p {
  padding: 1rem;
  font-size: 1.8rem;

}

.modalContainerButtons {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  margin-top: 2rem;
}

.modalContainerButtons button {
  min-width: 10rem;
  margin: 0;
  padding: 1rem;
  transition: all 300ms ease-in-out;
}

.modalContainerButtons button:hover {
  filter: 80%;
}