.input {
  padding: 1rem;
  font-size: 1.8rem;
  text-align: center;
  background-color: transparent;
  border: .2rem solid transparent;
  border-bottom: .2rem solid var(--primary);
  color: var(--text-default);
  transition: all 300ms ease-in-out;
  outline: none;
}

.input:focus {
  border: .2rem solid var(--primary);
  border-radius: .8rem;

}

.input::placeholder {
  color: var(--gray-500);
  font-size: 1.4rem;
  font-family: italic;

}

.input:disabled {
  border-bottom: 0.2rem solid var(--disabled);
  color: var(--text-muted);
}